<!-- views/index.ejs -->
<html lang="en">
    <head>
            <meta charset="UTF-8">
            <title>TodoList App</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <!-- fontawesome cdn -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="/public/styles.css">
            <script src="/public/main.js"></script>
        </head>

    <body>
        <main>
            <!-- input form -->
            <div class="container">
                <row>
                    <h1 class="text-center">My TODO List</h1>
                    <form class="col-6 mx-auto">
                      <div class="input-group">
                        <input type="text" class="form-control" name="item" placeholder="Enter todo item" id="input"><span>  <button type="button" class="btn btn-primary" onclick="addItem()">Submit</button>
</span>
                    </div>
                    </form>
                </row>
                <!-- unordered list (ul) -->
                <div class="row">
                    <ul class="col-6 mx-auto">

                        <% for(var i = 0; i < todoList.length; i++) { %>
                            <li>
                            <form class="col-6 mx-auto">
                                <div class="form-check d-flex justify-content-between align-items-center">
                                    <input
                                        type="checkbox"
                                        class="form-check-input"
                                        value="'<%=todoList[i].isDone%>'"
                                        onchange="toggleComplete('<%=todoList[i]._id%>')"
                                        <%= todoList[i].isDone ? "checked" : "" %> >
                                        <label class="form-check-label"><%= todoList[i].name %></label>
                                    <button type="button" class="btn btn-dark" onclick="deleteItem('<%=todoList[i]._id%>')">Remove</button>
                                </div>
                            </form>
                            </li>
                        <% } %>
                        
                    </ul>
                </div>
            </div>
        </main>

    </body>
</html>